{:paths ["src/main/clojure" "src/main/resources" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}

  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}

  ring/ring-core {:mvn/version "1.9.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  http-kit/http-kit {:mvn/version "2.5.3"}
  compojure/compojure {:mvn/version "1.6.2"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  reagent/reagent {:mvn/version "1.0.0" :exclusions [cljsjs/react cljsjs/react-dom]}
  datascript/datascript {:mvn/version "1.0.7"}
  com.taoensso/sente {:mvn/version "1.16.2"}}

 :aliases
 {:main
  {:main-opts ["-m" "literate.core" "--port" "8118"]}

  :dev
  {:extra-paths ["src/dev/clojure" "src/dev/resources"]
   :extra-deps
   {org.clojure/tools.namespace {:mvn/version "1.1.0"}
    org.clojure/data.json {:mvn/version "1.1.0"}
    pedrorgirardi/literate.client {:git/url "https://github.com/pedrorgirardi/literate.client"
                                   :sha "44a4e72bd2dbff91e89dd80eee841e1cda946b52"}}}

  :app
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.11.23"}
    binaryage/devtools {:mvn/version "1.0.2"}}}

  :test
  {:extra-paths ["src/test/clojure" "src/test/resources"]}}}
