{:deps {:aliases [:dev]}

 :nrepl {:port 9000}

 :jvm-opts ["-Xmx2G"]

 :dev-http {8000 "resources/public"}

 :builds
 {:main
  {:target :browser
   :modules {:main {:init-fn literate.core/init}}
   :devtools {:after-load literate.core/init}

   :dev
   {:output-dir "resources/public/js/dev"
    :asset-path "/js/dev"}

   :release
   {:output-dir "resources/public/js"
    :asset-path "/js"}}}}