{:deps {:aliases [:app]}

 :nrepl {:port 9000}

 :jvm-opts ["-Xmx2G"]

 :dev-http {8000 "resources/public"}

 :builds
 {:main
  {:target :browser
   :modules {:main {:init-fn literate.app/init}}
   :dev {:closure-defines {literate.app/WS true}}
   :devtools {:after-load literate.app/init}
   :output-dir "resources/public/js"
   :asset-path "/js"
   :compiler-options
   {:cross-chunk-method-motion false
    :language-in :es6
    :output-feature-set :es6}}}}