{:deps {:aliases [:app]}

 :nrepl {:port 9000}

 :jvm-opts ["-Xmx2G"]

 :dev-http {8000 "resources/public"}

 :builds
 {:main
  {:target :browser
   :modules {:main {:init-fn literate.client/init}}
   :devtools {:after-load literate.client/init}
   :output-dir "resources/public/js"
   :asset-path "/js"}}}